.container {
  border: 1px solid black;
  max-width: 700px;
  margin: auto;
}

.fields{
  border: 1px solid green;
  display: flex;
  flex-direction: column;
}

.field{
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
}